.container {
    margin-top: 70px;
    padding: 16px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .carouselContainer {
    margin-top: 16px;
  }
  
  .image {
    border-radius: 8px;
  }
  
  .detailsContainer {
    margin-top: 16px;
  }
  
  .price {
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 8px;
  }
  
  .detail {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .detail > svg {
    margin-right: 8px;
  }
  
  .descriptionContainer {
    margin-top: 16px;
  }
  
  .creditContainer {
    margin-top: 16px;
  }
  
  .creditItem {
    margin-top: 8px;
  }